<!DOCTYPE html>
<html lang="{{ request.locale_name }}">
<head>
    {% include 'head.jinja2' %}
    <title>Artifact</title>
    <script src="/js/artifact.js"></script>
</head>
<body>
{% include 'navbar.jinja2' %}
<div class="container">
    {% if artifact.exists %}
        <div class="panel panel-success">
    {% else %}
        <div class="alert alert-danger" role="alert">
            <strong>File not found</strong> This file is missing on disk.
        </div>

        <div class="panel panel-danger">
    {% endif %}
    <div class="panel-heading">
        <h3 id="filename" class="panel-title">{{ artifact.filename }}</h3>
    </div>

    <div class="panel-body">

        <table class="table table-striped table-hover">
            <tr>
                <th>File size</th>
                <td id="file_size">{{ artifact.size_h }} ({{ artifact.size }} bytes)</td>
            </tr>
            <tr>
                <th>SHA1</th>
                <td><code>{{ artifact.sha1 }}</code></td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ artifact.created }}</td>
            </tr>
            <tr>
                <th>Mime type</th>
                <td>{{ artifact.mime or "Unknown" }}</td>
            </tr>
            {% if artifact.comment %}
                <tr>
                    <th>Comment</th>
                    <td>{{ artifact.comment }}</td>
                </tr>
            {% endif %}

            {% if artifact.vcs is not none %}
                <tr class="info">
                    <th colspan="2">Version information</th>
                </tr>
                <tr>
                    <th>Repository</th>
                    <td>{{ artifact.vcs.repository.name }}</td>
                </tr>
                <tr>
                    <th>Type</th>
                    <td>{{ artifact.vcs.repository.type }}</td>
                </tr>
                <tr>
                    <th>Revision</th>
                    <td>{{ artifact.vcs.revision }}</td>
                </tr>
            {% endif %}

        </table>

        {% if artifact.exists %}
            <form style="display: inline;" action="/artifact/{{ artifact.sha1 }}/download">
                <input type="submit" class="btn btn-sm btn-success" value="Download">
            </form>
            <form style="display: inline;" class="view_content" action="/artifact/{{ artifact.sha1 }}/view_raw">
                <input type="submit" class="btn btn-sm btn-primary" value="View raw">
            </form>
            {% if artifact.is_archive %}
                <form style="display: inline;" action="/artifact/{{ artifact.sha1 }}/view_archive">
                    <button type="submit" class="btn btn-sm btn-primary">
                        <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>&nbsp;&nbsp;View archive
                    </button>
                </form>
            {% endif %}
            {% if artifact.is_text %}
                <form style="display: inline;" class="view_content" action="/artifact/{{ artifact.sha1 }}/view">
                    <input type="submit" class="btn btn-sm btn-primary" value="View highlight">
                </form>
            {% endif %}
        {% endif %}
        <form style="display: inline;" id="delete" action="/artifact/{{ artifact.sha1 }}/delete">
            <button type="submit" class="btn btn-sm btn-danger">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>&nbsp;Delete
            </button>
        </form>
    </div>
    </div>
    </div>
</body>
</html>
