<!DOCTYPE html>
<html lang="{{ request.locale_name }}">
<head>
    {% include 'head.jinja2' %}
    <title>Artifacts</title>
</head>
<body>
{% include 'navbar.jinja2' %}
<div class="container">
    <table class="table table-striped table-hover table-condensed">
        <tr>
            {% if asc %}
                <th><a href="?sort=filename">Filename</a></th>
                <th><a href="?sort=sha1">SHA1</a></th>
                <th><a href="?sort=created">Created</a></th>
                <th><a href="?sort=comment">Comment</a></th>
            {% else %}
                <th><a href="?sort=filename&asc">Filename</a></th>
                <th><a href="?sort=sha1&asc">SHA1</a></th>
                <th><a href="?sort=created&asc">Created</a></th>
                <th><a href="?sort=comment&asc">Comment</a></th>
            {% endif %}
        </tr>
        {% for artifact in artifacts %}
            <tr>
                {% if artifact.is_bundle %}
                    <td><a href="/artifact/{{ artifact.sha1 }}">
                        <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
                        {{ artifact.name }}</a></td>
                {% elif artifact.bundles %}
                    <td><a href="/artifact/{{ artifact.sha1 }}">
                        <span class="glyphicon glyphicon-level-up" aria-hidden="true"></span>
                        {{ artifact.filename }}</a></td>
                {% else %}
                    <td><a href="/artifact/{{ artifact.sha1 }}">{{ artifact.filename }}</a></td>
                {% endif %}
                <td><code>{{ artifact.sha1 }}</code></td>
                <td>{{ artifact.created }}</td>
                <td>{{ artifact.comment if artifact.comment else '' }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
<div class="paginate wrapper">
    <ul>
        {% if page > 1 %}
            <li><a href="?limit={{ limit }}&offset={{ limit*(page-2) }}">&lang;</a></li>
        {% endif %}
        {% for i in pages %}
            <li><a href="?limit={{ limit }}&offset={{ limit*(i-1) }}"
                    {% if i == page %}
                   class="active"
                    {% endif %}
            >{{ i }}</a></li>
        {% endfor %}
        {% if page < page_count %}
            <li><a href="?limit={{ limit }}&offset={{ limit*page }}">&rang;</a></li>
        {% endif %}
    </ul>
</div>
</body>
</html>
