<!DOCTYPE html>
<html lang="{{ request.locale_name }}">
<head>
    {% include 'head.jinja2' %}
    <title>Artifacts</title>
</head>
<body>
{% include 'navbar.jinja2' %}
<div class="container">
    <table class="table table-striped table-hover table-condensed">
        <tr>
            <th>Filename</th>
            <th>SHA1</th>
            <th>Created</th>
            <th>Comment</th>
        </tr>
        {% for artifact in artifacts %}
            <tr>
                <td><a href="/artifact/{{ artifact.sha1 }}">{{ artifact.filename }}</a></td>
                <td><code>{{ artifact.sha1 }}</code></td>
                <td>{{ artifact.created }}</td>
                <td>{{ artifact.comment }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
</body>
</html>
