<!DOCTYPE html>
<html lang="${request.locale_name}">
<head>
    <title>Artifact archive</title>
    {% include 'head.jinja2' %}
</head>
<body>
{% if error is defined %}
    <p>{{ error }}</p>
{% else %}
    <table>
        <tr><th>File</th><th>Size</th></tr>
        {%  for file in tarfiles %}
            <tr><td>{{ file.name }}</td><td>{{ file.size }}</td></tr>
        {% endfor %}
        {%  for file in zipfiles %}
            <tr><td>{{ file.filename }}</td><td>{{ file.file_size }}</td></tr>
        {% endfor %}
    </table>
{% endif %}
</body>
</html>