<!DOCTYPE html>
<html lang="${request.locale_name}">
<head>
    <title>Artifakt</title>
    <link rel="stylesheet" href="/css/highlight.min.css">
    <script src="/js/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</head>
<body>
<pre>
    <code>
{{ content }}
    </code>
</pre>
</body>
</html>
