<!DOCTYPE html>
<html lang="{{ request.locale_name }}">
<head>
    {% include 'head.jinja2' %}
    <script src="/js/customers.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="/css/jquery-ui.min.css">
    <title>Customers</title>
</head>
<body>
{% include 'navbar.jinja2' %}
<div class="container">
    <button id="add_customer" class="btn btn-sm btn-default" type="submit">Add customer</button>
    <hr>
    <table id="customers" class="table table-striped table-hover table-condensed">
        <tr>
            <th>Name</th>
        </tr>
        {% for customer in customers %}
            <tr>
                <td><a href="/customer/{{ customer.id }}">{{ customer.name }}</a></td>
            </tr>
        {% endfor %}
    </table>
</div>

<div id="dialog-form" title="Create new customer">
    <form>
        <label for="name">Customer name</label>
        <input type="text" name="name" id="name" required placeholder="Name" class="text ui-widget-content ui-corner-all">
        <!-- Allow form submission with keyboard without duplicating the dialog button -->
        <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
    </form>
</div>

</body>
</html>
