<!DOCTYPE html>
<html lang="{{ request.locale_name }}">
<head>
    {% include 'head.jinja2' %}
    <title>Customer - {{ customer.name }}</title>
</head>
<body>
{% include 'navbar.jinja2' %}
<div class="container">
    <h2>{{ customer.name }}</h2>

    <h3>Deliveries</h3>
    <table {% if not customer.deliveries %} style="display: none;"{% endif %} id="deliveries"
                                            class="table table-striped table-hover">
        <tr>
            <th>Artifakt</th>
            <th>Date</th>
            <th>Comment</th>
            <th>By</th>
        </tr>
        {% for delivery in customer.deliveries %}
            <tr>
                <td><a href="/artifact/{{ delivery.artifakt.sha1 }}">{{ delivery.artifakt.name }}</a></td>
                <td>
                    <script>
                        document.write(new Date('{{ delivery.time }} UTC').toLocaleString());
                    </script>
                </td>
                <td>{{ delivery.comment }}</td>
                <td>{{ delivery.by }}</td>
            </tr>
        {% endfor %}
    </table>
</div>

</body>
</html>