<!DOCTYPE html>
<html lang="{{ request.locale_name }}">
<head>
    {% include 'head.jinja2' %}
    <title>Artifakt - Register</title>
</head>
<body>
{% include 'navbar.jinja2' %}
<div class="container">

    <h2>Sign up:</h2>
    {% if errors %}
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">x</button>
            <strong>Error!</strong> {{ msg }}
        </div>
    {% elif not request.method == 'GET' %}
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">x</button>
            <strong>Success!</strong>You have sucessfully registered
        </div>
    {% endif %}

    <form id="register_form" name="register_form" method="POST"
          action="{{ request.route_path('register') }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token }}"/>
        <fieldset class="form-group">
            <div class="form-group row {{ 'error' if 'email' in errors else '' }}">
                <label for="email" class="col-sm-2 control-label">E-mail:</label>
                <div class="col-sm-10">
                    <input id="email" class="form-control" placeholder="username@hostname.com" type="email" name="email"
                           required="required" value="{{ request.params.get('email','') }}"/>
                    {% if 'email' in errors %}
                        <span class="help-inline">{{ errors['email'] }}</span>
                    {% endif %}
                </div>
            </div>
            <div class="form-group row {{ 'error' if 'password' in errors else '' }}">
                <label for="password" class="col-sm-2 control-label">Password:</label>
                <div class="col-sm-10">
                    <input class="form-control" type="password" id="password" name="password" required="required"/>
                    {% if 'password' in errors %}
                        <span class="help-inline">{{ errors['password'] }}</span>
                    {% endif %}
                </div>
            </div>
            {% set password_options = request.registry['config'].fullauth.register.password %}
            {% if password_options['confirm'] %}
                <div class="form-group row {{ 'error' if 'confirm_password' in errors else '' }}">
                    <label for="confirm_password" class="col-sm-2 control-label">Confirm password:</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="password" name="confirm_password" id="confirm_password"
                               required="required"/>
                        {% if 'confirm_password' in errors %}
                            <span class="help-inline">{{ errors['confirm_password'] }}</span>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
            <div class="modal-footer">
                <button id="submit_register" type="submit" class="btn btn-primary btn-lg"><strong>Sign up</strong>
                </button>
            </div>
        </fieldset>
    </form>

</div>
</body>
</html>
