<!DOCTYPE html>
<html lang="{{request.locale_name}}">
<head>
    <title>Upload artifact</title>
    <script src="/js/jquery-2.2.3.min.js"></script>
    <script src="/js/jquery.serialize-object.min.js"></script>
    <script src="/js/upload.js"></script>
    {% include 'head.jinja2' %}
</head>
<body>
<form action="/upload" id="upload_form" method="post" enctype="multipart/form-data">

    <fieldset>
        <legend>Required</legend>
        <input type="file" name="file">
    </fieldset>

    {% for key,vals in metadata.items()|sort %}
        <fieldset>
            <legend>{{ key }}</legend>
            {% for val in vals %}
                <label for="{{ key }}[{{ val }}]">{{ val }}</label>
                <input type="text" id="{{ key }}[{{ val }}]" name="{{ key }}[{{ val }}]">
            {% endfor %}
        </fieldset>
    {% endfor %}

    <button type="submit">Upload file</button>
</form>
</body>
</html>