/****************
Upload form style
****************/

fieldset {
    margin: 1em;
    padding: 1em;
    background: #f1f1f1;
    box-shadow: 0px 0px 5px 2px #d1d1d1;
    border-radius: 5px;
}

/****************
Style for the tabs
on upload form
****************/
legend {
    color: #fff;
    padding: 5px 10px;
    font-size: 1.5em;
    box-shadow: 0 0 0 1px #ddd;
    margin-left: 20px;
    width: 150px;
    border-radius: 7px;
    background-color: #428bca;
    border-color: #08c;
    font-size: 15px;
    opacity: 0.8;
}

/****************
Upload btn style
****************/

.btn-file#uploadbutton {
    width: 150px;
    border-radius: 10px;
}

/****************
Adds corners for the
navbar
****************/

.navbar-inverse {
    border-radius: 0;
}

/****************
Style for the main
icon
****************/
.icon {
    padding: 5px 0 0 15px;
}

/****************
Style for the upper
file upload
****************/
#file {
    background-color: transparent;
    box-shadow: none;
    border: none;
}

/****************
Upload form
labels
****************/
label {
    display: block;
    font-weight: 100;
}

/***************
Margin for the input
fields on upload form
****************/
.between {
    margin-bottom: 10px;
}

/****************


****************/
input {
    margin: 0;
}

/****************
Style for the upload
buttons
****************/
.btn-group-vertical {
    padding-left: 0;
    width: 100%;
    padding-top: 15px;
}

/****************
Opacity for the text
on main buttons
****************/
.opacity {
    opacity: 0.5;
}

/****************
Position of the
glyphs on buttons
****************/
.glyphicon-list {
    margin-right: 5px;
}

/****************
Position of the
glyphs on buttons
****************/
.glyphicon-upload {
    margin-right: 5px;
}

/****************
Hide offscreen, for example hidden labels
that screen readers should still see.
****************/
.hide-offscreen {
    position: absolute;
    left: -9999em;
}

span.comment_by, span.comment_age {
    color: #a5a5a5;
    font-style: italic;
}

span.comment_reply a {
    font-size: small;
}